.jumbotron
{
background-image: url("../img/100-most-beautiful-background-picture-14-oY2wQsrzD.jpg");
padding:85px;
}
.card{
	margin-top:35px;
}
.row{
	margin-bottom:25px;
}
body {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}

.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
